

nav li a {
    color:black;
    text-decoration: none;
    font-size: 18px;
}


.btn-primary {
    color: white;
    background-color: #0f1b4c;
    padding: 12px;
    border-radius: 15%;
    border: none;
    width: max-content;
}


.main-title {
    text-align: center;
    margin-top: 100px;
    color: #0f1b4c;
    font-weight: bold;

}

.main-details {
    text-align: center;
    margin-top: 20px;
}

.main-details p {
    color: gray;
}

.main-details a {
    margin: 15px 400px 0 0;
}

.card {
    width: 350px;
    border-radius: 10%;
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0,0.2);
}
.card:first-child {
    margin-right: 20px;
}
.card .card-img-top {
    margin: 80px auto;
    width: 110px;
    height: 150px;
}
.card .card-title {
    margin-top: -50px;
    text-align: center;
    font-size: 30px;
    color: #0f1b4c;
    font-weight: bold;
}

.card .card-text {
    color: gray;
    padding: 16px;
}

.card a {
    position: absolute;
    margin-right: 30%;
    padding: 15px 20px 15px 20px;
    font-weight: bold;

}

@media only screen and (max-width: 600px) {
    .card {
        margin-bottom: 20px;
    }
    .card a {
        position: relative;
    }
    .container img {
        width: 400px;
    }
    .btn-primary {
        margin-right: -50px;
    }

  }

.card-background {
    z-index: -1;
    position: absolute;
    margin-top: 200px;
    max-width: 100%;
    height: 500px;
    background-color: rgb(127, 224, 236);
    background-image: linear-gradient(rgb(81, 81, 219),rgb(128, 164, 243));
}

nav .navlink:hover {
    color: blue;
}

.our-features {
    margin-top: 300px;
}


.our-features img {
    margin-right: 40px;
}
.our-features h1 {
    color: white;
}
.our-features p {
    margin-top: 20px;
    font-weight: bold;
}


.footer-communication h2 {
    margin-bottom: 30px;
}

.footer-communication span {
    margin-right: 10px;
    font-size: 20px;
}

.footer-communication p {
    font-weight: bold;
}

.footer-communication form {
    margin: 50px 140px 0 0;
}

.footer-communication form span {
    border: 1px solid black;
    border-top-left-radius: 10%;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 2px 2px 2px rgb(0, 0, 0,0.2);
}
.footer-communication button {
    border: none;
}
.footer-communication form span:hover {
    background-color: rgb(236, 236, 129);
}
.footer-communication form span:hover button {
    background-color: rgb(236, 236, 129);
}
.footer-communication form input {
    border: none;
    background-color: #0f1b4c;
    text-align: left;
    color: white;
    box-shadow: 0 2px 2px 2px rgb(0, 0, 0,0.2);
    padding-left: 20px;

}

.footer-communication i {
    color: rgb(128, 164, 243);
}
::placeholder {
    color: gray;
}
